/* slider-product-----------------*/

.slider-widget-products {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ececec;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px;
}

.slider-content-tabs {
  background: #f5f5f5 !important;
  border: none !important;
  box-shadow: none;
}

.widget-product .product-carousel .tab-item {
  background: #fff;
  border-radius: 20px;
}

.widget,
.brand-slider {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.widget-suggestion .promo-single-headline {
  background: #fff;
  padding-bottom: 15px !important;
  margin-bottom: -1px !important;
}

.widget .card-header,
.brand-slider .card-header {
  border-radius: 0;
  padding: 0;
  margin-right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 0;
  float: right;
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 20px;
}

.widget .header-product {
  border-bottom: 2px solid #d4e3ec;
}

.widget .card-header span.title-one {
  padding-bottom: 10px;
  color: #651fff;
  border-bottom: 2px solid #651fff;
  display: inline-block;
  position: relative;
  top: 2px;
  font-weight: 600;
  font-size: 14px;
}

.widget .card-header .card-title,
.brand-slider .card-header .card-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  color: #999999;
  float: left;
}

.widget-banner {
  padding: 0;
  text-align: center;
  box-shadow: none;
  background: 0 0;
}

.widget-banner img {
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.widget-services {
  text-align: center;
}

.widget-services .feature-item {
  font-size: 0.714rem;
  line-height: 17px;
  vertical-align: middle;
  color: #606060;
  text-align: center;
  letter-spacing: 0.2px;
  background-size: auto 58px;
  width: 107px;
  white-space: nowrap;
}

.widget-services .feature-item img {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.list-group {
  padding-right: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: none;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.widget-product .card-header .view-all,
.brand-slider .card-header .view-all {
  position: absolute;
  left: 17px;
  top: 15px;
  transform: translateY(-50%);
  float: left;
  font-size: 10px;
  color: #979898;
}

.widget-product .card-header .card-title,
.brand-slider .card-header .card-title {
  padding-bottom: 0;
  line-height: 2;
}

.widget-product .product-carousel .carousel-item,
.brand-slider .product-carousel .carousel-item {
  display: inline-block;
  direction: rtl !important;
  text-align: center;
  padding: 5px;
}

.product-carousel .owl-item > a.hover-img-link {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-top: 20px;
}

.product-carousel .owl-item a.hover-img-link img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  position: relative;
  width: 70%;
}

.product-carousel .owl-item a.hover-img-link .icon-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -40px;
  margin-left: 0;
  transition: all 0.2s;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
}

.product-carousel .owl-item a.hover-img-link .icon-view strong {
  display: block;
  margin: auto;
  line-height: 10;
  font-size: 33px;
  border-radius: 0;
  text-align: center;
  background-color: rgb(255 255 255 / 90%);
  position: relative;
}

.product-carousel .owl-item a.hover-img-link .icon-view strong i {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  color: #000;
  border-radius: 50px;
  line-height: 55px;
}

.product-carousel .owl-item .item:hover a.hover-img-link .icon-view {
  transition: all 0.2s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.product-carousel-brand .owl-item a.hover-img-link .img-brand {
  width: 60%;
}

.widget-product .product-carousel .item,
.brand-slider .owl-carousel .item {
  display: inline-block;
  direction: rtl !important;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.amazing {
  display: none !important;
}

@media (min-width: 992px) {

  .widget-product .product-carousel .owl-item,
  .brand-slider .owl-carousel .owl-item {
    border: 1px solid #fff;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  }
}

.widget-product .product-carousel .item .post-title,
.brand-slider .product-carousel .item .post-title {
  font-size: 13px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 25px;
  padding-top: 40px;
}

.widget-product .product-carousel .item .post-title a {
  font-size: 13px;
  color: #535353;
  text-decoration: none;
}

.widget-product .product-carousel .item .actions {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.2s;
}

.widget-product .product-carousel .item:hover .actions {
  opacity: 1;
  transition: all 0.2s;
}

.widget-product .product-carousel .item .actions ul {
  text-align: center;
  display: inline-block;
  transition: all 0.2s;
}

.widget-product .product-carousel .item .actions ul li {
  display: inline-block;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  opacity: 0;
  transition: 0.2s;
  float: left;
  margin: 0 2px;
  background: #fff;
  padding: 0 2px;
}

.widget-product .product-carousel .item:hover .actions ul li {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

.widget-product .product-carousel .item:hover .actions ul li:nth-of-type(2) {
  transition-delay: 0.2s;
}

.widget-product .product-carousel .item:hover .actions ul li:nth-of-type(3) {
  transition-delay: 0.4s;
}

.widget-product .product-carousel .item .actions ul li button {
  display: inline-block;
  color: #000000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  border: none;
  background: 0 0;
  font-size: 22px;
}

.widget-product .product-carousel .item .price,
.brand-slider .product-carousel .item .price {
  color: #651fff;
  font-size: 20px;
  height: auto;
  cursor: pointer;
  margin-top: 20px;
}

.widget-product .product-carousel .item .countdown-timer .countdown .countdown-item {
  margin-right: 0.5em;
}

.widget-product .product-carousel .item .discount {
  width: 50px;
  height: 30px;
  background: #ec5151;
  float: left;
  border-radius: 50px;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
}

.widget-product .product-carousel .item .add-to-cart-section {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background: #651fff;
  border: 1px solid #651fff;
  line-height: 40px;
  color: #fff;
  float: right;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease;
}

.widget-product .product-carousel .item .add-to-cart-section i {
  color: #fff !important;
}

.widget-product .product-carousel .item .add-to-cart-section:hover {
  background: #08e3fd;
  transition: all 500ms ease;
}

.widget-product .product-carousel .item .price del,
.brand-slider .product-carousel .item .price del {
  color: #979898;
  font-size: 13px;
  display: block;
  width: 100%;
}

.widget-product .product-carousel .item ins,
.brand-slider .product-carousel .item ins {
  color: #651fff !important;
  font-size: 20px;
  height: auto;
  display: block;
  text-decoration: none;
}

.widget-product .product-carousel .item .price-main {
  text-align: left;
  line-height: 50px;
  margin-left: -35px;
}

@media (max-width: 450px) {
  .widget-product .product-carousel .price > span:first-child {
    display: inline-block;
    font-size: 18px;
  }
}

.widget-product .product-carousel .price del > span span:last-child {
  font-size: 10px;
}

.widget-product .product-carousel .price span span:last-child {
  font-size: 12px;
}

@media (max-width: 370px) {
  .widget-product .product-carousel .item .price-main {
    margin-left: 0;
  }
}

.widget-product .owl-carousel .owl-nav .owl-prev,
.brand-slider .owl-carousel .owl-nav .owl-prev,
.widget-product .owl-carousel .owl-nav .owl-next,
.brand-slider .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  background-image: unset;
  outline: none;
}

.widget-product .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  right: 5px;
  top: 50%;
  color: #a8a8a8;
  box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.widget-product .owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: 5px;
  top: 50%;
  color: #a8a8a8;
  box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.widget-product .owl-carousel .owl-nav .disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: all;
}

.widget-product .owl-carousel .owl-nav .owl-prev i,
.brand-slider .owl-carousel .owl-nav .owl-prev i,
.widget-product .owl-carousel .owl-nav .owl-next i,
.brand-slider .owl-carousel .owl-nav .owl-next i {
  font-size: 35px;
  color: #5d5f5f;
  line-height: 52px;
}

.brand-slider .owl-carousel .owl-item {
  text-align: center;
}

.brand-slider .owl-carousel .owl-item img {
  max-height: 70%;
  max-width: 70%;
  margin: 0 auto;
}

.brand-slider .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  right: -15px;
  top: 50%;
}

.brand-slider .owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: -15px;
  top: 50%;
}

.amazing-section {
  border-radius: unset;
  box-shadow: unset;
  margin-bottom: 20px;
  padding-top: 0;
  float: right;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(0deg, #ec4f4f 0%, #f2295b 100%);
  float: right;
}

.amazing-product img {
  max-width: 80%;
  margin-bottom: 30px;
}

.amazing-product .amazing-heading-title {
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20px;
  display: block;
}

.amazing-product a.view-all-amazing-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.26);
  padding: 9px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
}

.amazing-section .container-amazing .slider-widget-products .widget .card-header {
  display: none !important;
}

.amazing-section .container-amazing .slider-widget-products {
  background: transparent;
  border: none;
  box-shadow: none;
}

.amazing-section .container-amazing .slider-widget-products .widget {
  background: transparent;
}

.amazing-section .container-amazing .slider-widget-products .widget .product-carousel .owl-item {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.slider-widget-products .modal-dialog {
  max-width: 850px;
}

.slider-widget-products .modal-header {
  border-bottom: none;
}

.slider-widget-products .modal-body .product-box-modal-title h2 {
  font-size: 22px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 25px;
  padding-top: 120px;
}

.slider-widget-products .modal-body .zoom-box img {
  width: 100%;
  height: 100%;
}

.slider-widget-products .modal-body .product-box-modal-title h2 a {
  color: #535353;
  font-weight: 500;
}

.slider-widget-products .modal-body .small-gutters .product-rate i {
  font-size: 20px;
}

.slider-widget-products .modal-body .small-gutters .product-box-modal_price .price {
  color: #651fff;
  font-size: 20px;
  height: auto;
  cursor: pointer;
  margin-top: 15px;
}

.slider-widget-products .modal-body .small-gutters .product-box-modal_price .price del {
  color: #979898;
  font-size: 16px;
  display: inline-block;
}

.slider-widget-products .modal-body .small-gutters .product-box-modal_price .price del span span:last-child {
  font-size: 12px;
}

.slider-widget-products .modal-body .small-gutters .product-box-modal_price .price ins span span:last-child {
  font-size: 12px;
}

.slider-widget-products .modal-body .small-gutters .product-box-modal_price .price ins {
  color: #651fff !important;
  font-size: 22px;
  height: auto;
  display: inline-block;
  text-decoration: none;
}

.slider-widget-products .modal-body .small-gutters .bg-gray-100 {
  padding: 0.75rem !important;
  background-color: #f5f5f5 !important;
}

.slider-widget-products .modal-body .small-gutters .bg-gray-100 ul li {
  font-size: 14px;
  line-height: 2;
}

.slider-widget-products .modal-body .small-gutters .product-box_action button.add-to-cart {
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #4dd6d6 0%, #48edf5 100%);
  background-repeat: repeat-x;
  border-radius: 20px;
  padding: 5px 30px;
  margin-left: 0px;
  font-size: 16px;
}

.slider-widget-products .modal-body .small-gutters .product-box_action a.btn-outline-dark {
  color: #424242;
  border-color: #424242;
  border-radius: 20px;
  display: inline;
  padding: 5px 35px;
  font-size: 14px;
}

.slider-widget-products .modal-body .small-gutters .product-box_action a.btn-outline-dark:hover {
  color: #fff !important;
}

.slider-widget-products .modal-body .small-gutters .justify-content-between {
  border-top: 1px solid #e0e0e0 !important;
  margin-top: 25px;
}

.slider-widget-products .modal-body .small-gutters .justify-content-between a.text-primary {
  color: #fb4b63 !important;
  margin-top: 10px;
  display: block;
}

.slider-widget-products .modal-body .small-gutters .justify-content-between a.text-primary i {
  vertical-align: middle;
  padding-left: 10px;
  font-size: 18px;
}

.discount-m {
  position: absolute;
  top: 0;
  right: 0;
}

.discount-m span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  color: #fff;
  background: #43cc3a;
  border-radius: 50px 50px 50px 0;
}

.slider-widget-products .modal-body .owl-dots {
  text-align: center;
}

.slider-widget-products .modal-body .owl-dots .owl-dot {
  outline: none;
  width: 8px;
  height: 8px;
  margin: 5px 4px;
  background: #ddd;
  display: inline-block;
  transition: opacity 200ms ease;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;
}

.slider-widget-products .modal-body .owl-dots .owl-dot.active {
  width: 30px;
  background: #651fff !important;
}

